####### Single for loop
{%- for port_number in range(1, 25) %}
interface GigabitEthernet0/1/{{ port_number }}
!
{%- endfor %}


####### Nested for loops
{%- for slot in range(1, 4) %}
  {%- for port_number in range(1, 25) %}
interface GigabitEthernet0/{{ slot }}/{{ port_number }}
  {%- endfor %}
{%- endfor %}

####### For loop with conditional
{%- for port_number in range(1, 25) %}
  {%- if port_number == 10 %}
interface GigabitEthernet0/1/{{ port_number }}
  {%- endif %}
{%- endfor %}

######## Jinja2 comment
{# This is a comment in Jinja2 #}


